.tableCardClient {
  .title {
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: initial;
    text-align: center;
  }

  .subtitleCode {
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: initial;
    text-align: center;
  }
  .subtitle {
    font-size: 1.25rem;
    text-transform: initial;
    text-align: center;
  }
}
