.tableCardClient {
  .title {
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: initial;
  }

  .subtitleCode {
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: initial;
    text-align: center;
  }
  .subtitle {
    font-size: 1.25rem;
    text-transform: initial;
    text-align: center;
  }

  tbody > tr {
    height: 96px;
  }

  tbody > tr:nth-child(even) {
    background-color: #f5f5f5;
  }
}
